  <ion-header>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-icon (click)="Volver()" name="arrow-back-circle-outline" size="large" color="primary" slot=""></ion-icon>
      <h4 class="titulo" color="primary">SOLICITUD DE MESA</h4>      
    </ion-row>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center ion-padding-vertical txtAzul">BIENVENIDO</h1>        
  <ion-grid *ngIf="!estaEnEspera; else yaAgregado">
    <ion-row class="ion-text-center">
      <h2 class="txtAzul">Para solicitar una mesa debe escanear el código QR</h2>
    </ion-row>
    <ion-row>
      <ion-button (click)="scanner()" fill="solid" size="large" expand="block">Escanear</ion-button>
    </ion-row>
    <ion-row class="ion-text-center" *ngIf="errorCodigo">
      <h4 class="txtRojo">El código escaneado no es valido, por favor vuelva a intentar.
        Si vuelve a suceder, pongase en contacto con el mozo
      </h4>
    </ion-row>
  </ion-grid>
  <ng-template #yaAgregado>
    <ion-grid>
      <ion-row class="ion-text-center">
        <h2 class="txtAzul">
          Ya se encuentra en la lista de espera, por favor aguarde a ser atendido
        </h2>
      </ion-row>
      <ion-row>
        <ion-button (click)="Cancelar()" fill="solid" size="large" expand="block" color="danger">Cancelar solicitud</ion-button>        
      </ion-row>
    </ion-grid>
  </ng-template>
  

</ion-content>
