<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-family: serif;" slot="start">
      <app-header [urlBack]="'/home'"></app-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="cardMenu">
    <ion-card-header>
      <ion-card-title class="titleMenu">Lista de pedidos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list class="listMenu">

        <ion-segment *ngIf="empleadoService.tipo === 'mozo'" value="confirma" (ionChange)="showListaPedido($event)">
          <ion-segment-button class="segment-pedido" value="confirma">
            <ion-label>Confirmar</ion-label>
          </ion-segment-button>
          <ion-segment-button class="segment-pedido" value="servir">
            <ion-label>Listo para <br>servir</ion-label>
          </ion-segment-button>
          <ion-segment-button class="segment-pedido" value="pago">
            <ion-label>Confirmar <br>pago </ion-label>
          </ion-segment-button>
        </ion-segment>

        <div *ngIf="empleadoService.tipo === 'cocinero' || empleadoService.tipo === 'bar tender' || 
        (empleadoService.tipo === 'mozo' && listaPedido == 1)">
          <ion-item >
            <p style="width: 12%;"><strong>Cant</strong></p>
            <p style="width: 100%; text-align: center">
              <strong>Descripcion</strong>
            </p>
            <p >
              <strong>Estado</strong>
            </p>
            <p>
          </ion-item>
          <ion-item *ngFor="let detalle of pedidosService.PedidosDetalle" class="itemOrdenes" (click)="mostrarDetalle(detalle)">
            <p style="width: 10%;"><strong>{{detalle.cantidad}}</strong></p>
            <p style="width: 100%; text-align: center">
              {{detalle.conceptoNombre}}
            </p>
            <p [ngStyle]="{'color': detalle.estado.match('Pendiente', 'Preparando') ? 'red' : 'green'}">
              <strong>{{detalle.estado}}</strong>
            </p>
            <p>
          </ion-item>
        </div>
        <div *ngIf="(empleadoService.tipo === 'mozo' && listaPedido == 0)">
          <ion-item >
            <p style="width: 12%;"><strong>Mesa</strong></p>
            <p style="width: 100%; text-align: center">
              <strong>Cliente</strong>
            </p>
            <p >
              <strong>Acción</strong>
            </p>
            <p>
          </ion-item>
          <ion-item *ngFor="let pedido of pedidosService.pedidos" class="itemOrdenes" (click)="mostrarPedido(pedido)">
            <p style="width: 15%;"><strong>{{pedido.mesaNro}}</strong></p>
            <p style="width: 100%; text-align: center">
              {{pedido.usuarioNombre}}
            </p>
            <p [ngStyle]="{'color': pedido.estado.match('Confirmar', 'Listo para servir') ? 'red' : 'green'}">
              <strong>{{pedido.estado}}</strong>
            </p>
            <p>
          </ion-item>
        </div>
        <div *ngIf="(empleadoService.tipo === 'mozo' && listaPedido == 2)">
          <ion-grid class="">
            <ion-row>
              <ion-col size="6" class="celda centrar borderDer titulo">
                <p><strong>Mesas</strong></p>
              </ion-col>
              <ion-col size="6" class="celda centrar titulo">
                <p><strong>Acción</strong></p>
              </ion-col>
            </ion-row>
            <div  *ngFor="let mesa of listaMesas | async">
              <ion-row *ngIf="mesa.estado == 'ocupada'" class="">
                <ion-col size="6" class="celda centrar nombreMesa">
                  <div>{{mesa.codigoqr}}</div>
                </ion-col>
                <ion-col size="6" class="celda">
                  <ion-button expand="full" (click)="liberarMesa(mesa)">Confirmar pago</ion-button>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

