ion-content{
    --background: linear-gradient(30deg, #3f0693 0%, #d976ff 100%);
}

.tabla{
    border: 1px solid white;
}

.celda{
    border-right: 1px solid white;
}

.centrar{
    text-align: center;
}
