
.buttonUnidades {
    border: 1px solid red;
    font-size: 1.2rem;
    padding-top: 6px;
    width: 100px;
    border-radius: 20px;
    color: red;
}

.contentUnidad {
    text-align: -webkit-center;
}

.unidad {
    margin-left: 37px !important;
    padding-left: 3px;
    position: absolute;
    margin-top: -34px;
}
