<app-header [urlBack]="previousurl"></app-header>

<ion-content>
  <ion-card class="cardMenu">
    <ion-card-header>
      <ion-card-title class="titleMenu">Lista de la orden</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list class="listMenu">
        <ion-item class="itemMenu" *ngFor="let item of pedidosService.pedido.detallePedido; let i = index">
            <ion-col size="10">
              <p>{{item.conceptoNombre}}</p>
              <p>{{item.importeUnitario | currency}} X {{item.cantidad}} = <strong>{{item.importeTotal | currency}}</strong></p> 
              
            </ion-col>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h1>Total: {{pedidosService.pedido.importeTotal | currency}}</h1>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-button-update-mozo-confirma-pedido></app-button-update-mozo-confirma-pedido>
  </ion-toolbar>
</ion-footer>

